<div id="container" class="container-fluid">
  <div id="header" class="row">
    <div class="col-xs-4">
      <div class="form-group">
          <label for="bookSelect">Book:</label>
          <div id="bookSelect" class="input-group">
            <input class="form-control bookTitle" type="text" value="{{getBookTitle(currentBook)}}" disabled>
            <div class="input-group-btn">
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li *ngFor="let book of books" (click)="navigateToBook(book)">
                    <a class="selectable">{{getBookTitle(book)}}</a>
                  </li>
                </ul>
              </div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="radio">
        <label><input type="radio" [(ngModel)]="searchAllBooks" [checked]="searchAllBooks == true" [value]="true">Search all books</label>
        <label><input type="radio" [(ngModel)]="searchAllBooks" [checked]="searchAllBooks == false" [value]="false">Search current book</label>
      </div>
      <div class="form-group">
        <div id="search" class="input-group">
          <input id="searchInput" class="form-control" type="text" (keypress)="keyboardEventHandler($event)">
            <span class="input-group-btn" >
              <button id="searchButton" class="btn btn-default" type="button" (click)="search()">Search</button>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div id="content" class="row">
    <div class="col-xs-4">
      <div id="itemsPanel">
        <ul class="nav nav-pills nav-stacked">
          <li *ngFor="let item of items | itemFilter:[selectedChapterId, selectedTypeId]" (click)="navigateToItem(item)">
            <a class="selectable">{{getItemTitle(item, isSearchResult)}}&nbsp;</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-8">
      <div id="infoPanel">
        <div id="infoContent" style="display:none">
          <button id="pdfButton" class="btn btn-md btn-primary pagesButton" type="button" (click)="downloadPdf(currentItem)">Download PDF</button>
          <button id="zipButton" class="btn btn-md btn-primary pagesButton" type="button" (click)="downloadZip(currentItem)">Download images</button>
          <h3>Book:</h3>
          <p>{{getBookTitle(getBookForItem(currentItem), false)}}</p>
          <h3>Author:</h3>
          <p>{{getAuthorName(currentItem)}}</p>
          <h3>Title:</h3>
          <p>{{getItemTitle(currentItem, false)}}</p>
          <h3>Type:</h3>
          <p>{{getTypeName(currentItem)}}</p>
          <h3>Notes:</h3>
          <p>{{getNotes(currentItem)}}</p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="row">
    <div class="col-xs-4">
      <div class="footerPanel">
        <div class="form-group">
          <label for="chapterSelect">Chapter:</label>
          <select id="chapterSelect" class="form-control" [(ngModel)]="selectedChapterId">
            <option *ngFor="let chapter of chapters" [ngValue]="chapter.chapterId">{{chapter.title}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="typeSelect">Type:</label>
          <select id="typeSelect" class="form-control" [(ngModel)]="selectedTypeId">
            <option *ngFor="let type of types" [ngValue]="type.typeId">{{type.title}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="footerPanel">
        <div id="previewContent">
          <div id="previewCell">
            <a *ngFor="let page of pages" href="images/pages/{{page.filename}}" target="_blank">
              <img src="images/preview/{{page.filename}}"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="messageToggle" data-toggle="modal" data-target="#messageModal" style="display:none"></div>
<div class="modal fade open" id="messageModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="messageText"></h4>
      </div>
    </div>
  </div>
</div>
